body {

  background-color: white;
  color: black;
  text-align: center;

}


.container {
  width: 100%;
  margin: 0;
}

.section-one__name {
  background-color: black;
  color: white;
  margin: 0px;
}

.navbar {
  background-color: black;
}

.navbar a {
  background-color: black;
  color: silver;
  text-decoration: none;
  font-size: 15px;

}

.section-two,
.section-three,
.section-four,
.section-five {
  display: inline-block;

}

.section-two img,
.section-three img,
.section-four img,
.section-five img {
  width: 100%;
  height: 300px;

  object-fit: cover;
}

.section-two,
.section-three,
.section-four,
.section-five {
  display: inline-block;
  width: 220px;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 4px solid black;
  text-align: center;
  background-color: white;

}

.section-two__button,
.section-three__button,
.section-four__button,
.section-five__button {
  background-color: black;
  color: azure;
  height: 25px;

}

.section-two__title,
.section-three__title,
.section-four__title,
.section-five__title {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 13px;
}


.contact-box {
  background-color: black;
  color: white;
  padding: 15px 0;
  
  
}

.contact-box h2 {
  margin-top: 0;
  margin-bottom: 1px;
  font-size: 25px;
  margin-right: 90px;
  padding:2px ;
}

table {
  margin: 0 auto;
  
  margin-left: 550px;
  display: inline;
}

.section-six__name {
  padding: 2px;
  font-size: 16px;
  display: inline-block;
  margin-left: 10px;  
}


.contact-box__input {
  padding: 5px;
  display:block;
  margin-right:550px;
  border-radius: 1px; 
}
 .contact-box__submit{
  background-color:yellow;
width: 350px;
margin-right: 600px;
  font-size: 15px;
  border-radius:1px;
}


  
  

