* {
  padding: 0;
  margin: 0;
}
body {

  background-color: white;
  color: black;
  justify-content: center;
  text-align: center;
}

.container {
  width: 100%;
  margin: 0;
}

.navbar {
  background-color: black;
  padding: 10px;
}

.navbar li {
  display: inline;
  padding: 1px;

}

.navbar a {
  color: silver;
  background-color: black;
  text-decoration: none;

}


.section-one__name {
  background-color: black;
  color: white;
  padding: 10px;

}

.section-two,
.section-three,
.section-four,
.section-five {
  display: inline-block;
}

.section-two img,
.section-three img,
.section-four img,
.section-five img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.section-two,
.section-three,
.section-four,
.section-five {
  display: inline-block;
  width: 220px;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 4px solid black;
  text-align: center;
  background-color: white;

}
.section-two__button,
.section-three__button,
.section-four__button,
.section-five__button {
  background-color: black;
  color: azure;
  height: 25px;
}

.section-two__title,
.section-three__title,
.section-four__title,
.section-five__title {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 13px;
}
.contact {
  background-color: black;
  color: white;
  padding: 15px 0;

}

.contact-box h2 {
  padding-top: 10px;
}

table {
  display: inline-block;
}

.send-container button {
  background-color: yellow;
  width: 300px;
}
